<div class="container">
  <div class="row">
    <div class="jumbotron" id="sell-header">
       <div class="container">
          <h1>Using your Miles should be easy</h1>
       </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>If you are here it's because you have already taken care of the hard part...accumulating those precious Miles. It doesn't matter if it was when you were working at that multinational that made you travel every other week to the other side of the Atlantic or if it was the infinite weekend trips you took to see your loved one when you were doing your Masters. The hard part is done. Now it's time for you to relax and let us take care of everything. All it takes is three simple steps for us to get all the information we need and for you to put your next adventure on autopilot.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>1. Choose one of our Plans</h2>
      <p>We have studied countless scenarios, budgets and personalities to come up with three pricing plans that will blow your mind away. Whether you are a solo traveller or a full family going on a luxury getaway, we have you covered.</p><br><br>
      <p>Take a close look at all the options available in each plan and check to see which ones suit your travelling needs. Maybe you only want some quick advise and some help booking that surf trip to Hawaii. Or maybe it gets more complex than that and you want to learn how to master the art of travel hacking. Whatever your decision is, let us know and we will make it a reality.</p>
    </div>
    <div class="col-lg-6">
      <%= image_tag('pricing-how.png', :class => "featurette-image img-circle img-responsive pull-right", :style => "border: 2px solid #c485cd;") %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag('form-how.png', :class => "featurette-image img-circle img-responsive pull-right", :style => "border: 2px solid #c485cd;") %>
    </div>
    <div class="col-lg-6">
      <h2>2. Request a Quote from us</h2>
      <p>It takes less than 5 minutes and it can save you a lifetime of hassle and complication. Like we said, you have already taken care of the hard part of the journey. You have those Miles in your pocket. Now we need to know a few details to make sure that everything you desire is well addressed and taken care of.</p>
      <p>Fill out our 'Request a Quote' form by hitting any of the Get Started links scattered throughout the site. In the form you will be asked for a few personal details, mainly to get in touch with you, and also some of your preferences regarding Mileage programs, destinations and specific instructions regarding your trip.</p>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-lg-6">
      <h2>3. We contact you</h2>
      <p>With all the information you gave us we begin to turn our engines. We consult our deals platform to find out the latest offers that match your details. Using our partner network and insider knowledge we begin to build the ideal scenario for your travel needs.</p>
      <p>Once we have put together a dossier with all the necessary points, we contact you by email to arrange a one-on-one conversation by phone where, according to the plan you have chosen, we give you the A to Z on how to use your Miles to open the gates to the world.</p>
    </div>
    <div class="col-lg-6">
      <%= image_tag('travel-how.png', :class => "featurette-image img-circle img-responsive pull-right", :style => "border: 2px solid #c485cd;") %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="homepage-partners">
    <div class="row">
      <div class="col-lg-3 text-center">
        <%= image_tag('delta.jpg', :class => "img-responsive", :style => "padding-top:3em;") %>
      </div>
      <div class="col-lg-3 text-center">
        <%= image_tag('copa.png', :class => "img-responsive", :style => "padding-top:3em;") %>
      </div>
      <div class="col-lg-3 text-center">
        <%= image_tag('klm.png', :class => "img-responsive", :style => "padding-bottom:2em;") %>
      </div>
      <div class="col-lg-3 text-center">
        <%= image_tag('american.png', :class => "img-responsive", :style => "padding-bottom:2em;") %>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row" id="call-to-action">
    <div class="col-lg-12">
      <h1 class="text-center">Discover the potential behind your travel Miles.</h1>
      <p><%= button_to "Get started", new_traveller_path, method: :get, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>